<html>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup] = "searchForm">
                      <div>
                        <label for="itemSelect" style="padding-top: 10px;">CIKS</label>
                        <ng-multiselect-dropdown
                        [placeholder] = "'Select an item from the list down below'"
                        [settings] = "dropdownSettings"
                        [data] = "dropdownListCiks"
                        formControlName = "CIKS"
                        [disabled] = "false"
                        >
                        </ng-multiselect-dropdown>
                      </div>
                        <div class = "form-group">
                          <label class="col-form-label" for="From Date" style="padding-top: 10px;">From Date</label>
                          <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="fromDate" ngbDatepicker #d="ngbDatepicker" formControlName = "DateStart">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">📅</button>
                            </div>
                          </div>
                        </div>
                        <div class = "form-group">
                          <label class="col-form-label" for="To Date" style="padding-top: 10px;">To Date</label>
                          <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="toDate" ngbDatepicker #e="ngbDatepicker" formControlName = "DateEnd">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="e.toggle()" type="button">📅</button>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="filing">Filings</label>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheckAll" value = "all" formControlName = "allFilings" (change) = "allFilingsChange($event.target.value)">
                                <label class="custom-control-label" for="customCheckAll">All</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" value = "tenK"formControlName = "tenK" (change) = "TenKChange($event.target.value)">
                            <label class="custom-control-label" for="customCheck1">10-K</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2" value = "eightK" formControlName = "eightK" (change) = "EightKChange($event.target.value)">
                                <label class="custom-control-label" for="customCheck2">8-K</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck3" value = "defFourteen" formControlName = "defFourteen" (change) = "DefFourteenChange($event.target.value)">
                                <label class="custom-control-label" for="customCheck3">DEF-14</label>
                            </div>
                            <div>
                                <label for="itemSelect" style="padding-top: 10px;">Items</label>
                                <ng-multiselect-dropdown
                                [placeholder] = "'Select an item from the list down below'"
                                [settings] = "dropdownSettings"
                                [data] = "dropdownList"
                                formControlName = "Items"
                                [disabled] = "false"
                                >
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                        <div style="padding-top: 70px;">
                        <button type="button" [disabled] = "searchForm.invalid" class="btn btn-outline-primary" (click) = "onSubmit()">Search</button>
                        </div>
                        <div *ngIf = "dropdownListCiks.length == 0">
                          <p>the length is 0</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>

